

.main-text{
    font-size: 80px;
    color: #272727;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium';
}

.btn{
    display: inline-flex;
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: white;
    
}
.banner{
    padding: 30px 30px 1500px;
    display: flex;
    align-items: center;
}
.banner .flower{
    width: 600px;
    height: 750px;
    position: 400px right;
}
